html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../Images/money_images.jpg");
    background-repeat: no-repeat;
}

.form {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    font-size: 15px;
}

.form__fieldset {
    border: solid 2px #616161;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 3px #0c7538;
    background-color: rgb(102, 211, 30);
    color: white;
}

.form__legend {
    font-size: 20px;
    border: solid 20px #0c7538;
    border-radius: 20px;
    padding: 1px 124px;
    background-color: #0c7538;
    color: white;
}

.form__field {
    margin: 0 auto;
    padding: 5px;
    width: 70px;
}

.form__labelText {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    margin: 10px;
}

.form__labelText--color {
color:#dc143C;
}

.form__paragraph {
margin-left: 10px;
}

.form__button {
    width: 100%;
    margin: 7px auto;
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color:#0c7538;
    color: white;
    font-size: 20px;
}

.form__button:hover {
    background-color: hsl(78, 100%, 32%);
}

.form__button:active {
    background-color: hsl(43, 70%, 25%);
}

.form__obligatory {
    font-size: 14px;
    text-align: center;
    color: #dc143C;
}

.form__info {
    font-size: 14px;
    text-align: center;
    color: #555;
}

.form__paragraph--color {
    font-size: 25px;
    text-align: center;
    color: #dc143C;
    margin-left: 60px;
}